body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.card-selector, .payment-info {
  margin-bottom: 15px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.card-selector::-webkit-scrollbar, .payment-info::-webkit-scrollbar {
  display: none;
}

.card-selector > div, .payment-info > div {
  flex: 0 0 auto;
  margin-right: 10px;
  scroll-snap-align: start;
}

.card-slide.selected {
  border: 2px solid blue; /* 선택된 카드 강조 */
}


label {
  display: block;
  margin-bottom: 5px;
}

select, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(45deg, #007bff, #00d4ff);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: linear-gradient(45deg, #0056b3, #00a3cc);
}


